@font-face {
  font-family: 'MontserratLight';
  src: url('../fonts/montserrat-light/montserrat-light.eot');
  src: url('../fonts/montserrat-light/montserrat-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-light/montserrat-light.woff') format('woff'),
       url('../fonts/montserrat-light/montserrat-light.ttf') format('truetype'),
       url('../fonts/montserrat-light/montserrat-light.svg#montserrat-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'MontserratBold';
	src: url('../fonts/montserrat-bold/montserrat-bold.eot');
	src: url('../fonts/montserrat-bold/montserrat-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-bold/montserrat-bold.woff') format('woff'),
	url('../fonts/montserrat-bold/montserrat-bold.ttf') format('truetype'),
	url('../fonts/montserrat-bold/montserrat-bold.svg#montserrat-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/open-sans-regular/open-sans-regular.eot');
	src: url('../fonts/open-sans-regular/open-sans-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans-regular/open-sans-regular.woff') format('woff'),
		 url('../fonts/open-sans-regular/open-sans-regular.ttf') format('truetype'),
		 url('../fonts/open-sans-regular/open-sans-regular.svg#open-sans-regular') format('svg');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
  font-family: 'MontserratRegular';
  src: url('../fonts/roboto-regular/roboto-regular.eot');
  src: url('../fonts/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-regular/roboto-regular.woff') format('woff'),
       url('../fonts/roboto-regular/roboto-regular.ttf') format('truetype'),
       url('../fonts/roboto-regular/roboto-regular.svg#roboto-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RubikBold';
  src: url('../fonts/rubik-bold/rubik-bold.eot');
  src: url('../fonts/rubik-bold/rubik-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/rubik-bold/rubik-bold.woff') format('woff'),
       url('../fonts/rubik-bold/rubik-bold.ttf') format('truetype'),
       url('../fonts/rubik-bold/rubik-bold.svg#rubik-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/roboto-regular/roboto-regular.eot');
	src: url('../fonts/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-regular/roboto-regular.woff') format('woff'),
	url('../fonts/roboto-regular/roboto-regular.ttf') format('truetype'),
	url('../fonts/roboto-regular/roboto-regular.svg#roboto-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoMedium';
	src: url('../fonts/roboto-medium/roboto-medium.eot');
	src: url('../fonts/roboto-medium/roboto-medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-medium/roboto-medium.woff') format('woff'),
	url('../fonts/roboto-medium/roboto-medium.ttf') format('truetype'),
	url('../fonts/roboto-medium/roboto-medium.svg#roboto-medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoBold';
	src: url('../fonts/roboto-bold/roboto-bold.eot');
	src: url('../fonts/roboto-bold/roboto-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-bold/roboto-bold.woff') format('woff'),
	url('../fonts/roboto-bold/roboto-bold.ttf') format('truetype'),
	url('../fonts/roboto-bold/roboto-bold.svg#roboto-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	/*background: url("../images/background.png");*/
	background-color: #f3f3f6;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100%;
}


h1, h2, h3, h5, h6{
	font-family: "RobotoBold";
}

h4{
	font-family: "RobotoMedium";
}

p {
	font-family: 'OpenSansRegular';
}

.site-logo img {
	padding: 30px 0px 0px 0px;
}

.handicraft-site-header-description {
	margin-top: 20%;
	position: absolute;
}

.handicraft-site-header-description h1 {
	font-family: "RobotoBold";
	font-size: 50px;
	color: #000000;
	letter-spacing: 0.35px;
	line-height: 62px;
	text-transform: uppercase;
}

.handicraft-site-header-description h1 .handicraft {
	font-family: "RobotoBold";
	font-size: 50px;
	color: #E74F00;
	letter-spacing: 0.35px;
	line-height: 62px;
	text-transform: uppercase;
}

.handicraft-site-header-description h3 {
	font-family: "RobotoRegular";
	font-size: 30px;
	color: #2E2E2E;
	letter-spacing: 0.21px;
	line-height: 62px;
	text-transform: uppercase;
}

.banner-button {
	font-family: "RobotoBold";
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.33px;
	line-height: 35px;
	text-transform: uppercase;
	padding: 10px 30px;
	background: #E74F00;
	display: inline-block;
	margin-top: 20px;
}

.banner-button:hover {
    text-decoration: none;
    color: black;
}

.view-demo-icon {
	padding-left: 10px;
}

.handicraft-site-header-images {
	background: #FFBE2F;
	border-radius: 0 0 0 50px;
	width: 100%;
	height: auto;
	padding: 20px 20px 50px 20px;
}

.handicraft-site-description-left {

}

.handicraft-site-description-right {

}

.handicraft-site-description-left h4, .handicraft-site-description-right h4 {
	font-size: 25px;
	color: #2E2E2E;
	line-height: 29px;
	letter-spacing: -0.28px;
	display: block;
	padding-bottom: 30px;
	text-transform: uppercase;
}

.handicraft-header-area col-md-5 {
	background-color: RED;
}

.demo-website-inner-page {
	font-family: "RobotoBold";
	font-size: 40px;
	color: #e74f00;
	display: block;
	margin-top: 10px;
}

.handicraft-site-description-left img, .handicraft-site-description-right img {
	width: 100%;
	padding-bottom: 50px;
}


section.homepage-innerpage-area {
	margin-top: 100px;
}

.homepage-innerpage-area h2 {
	font-family: "RobotoBold";
	font-size: 45px;
	letter-spacing: .5px;
	line-height: 53px;
	color: #282828;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 50px;
}

.awesome {
	font-family: "RobotoBold";
	font-size: 45px;
	letter-spacing: .5px;
	line-height: 53px;
	color: #FFBE2F;
	text-transform: uppercase;
	text-align: center;
}


.demos-area ul li {
	width: 50%;
}

.demos-area ul li a {
	font-family: "RobotoMedium";
	font-size: 30px;
	color: #2E2E2E !important;
	letter-spacing: -0.33px;
	text-align: center;
	background: #FFFFFF !important;
	border: none !important;
}

.demos-area ul li a.active {
	font-family: "RobotoMedium";
	font-size: 30px;
	color: #2E2E2E !important;
	letter-spacing: -0.33px;
	text-align: center;
	background: #FFBE2F !important;
	border: none !important;
}

.demos-area ul li a.focus {
	border: none !important;
}

.home-inner-page {
	position: relative;
	margin-top: 50px;
	box-shadow: 0 10px 30px 0 rgba(0,0,0,0.20);
}

.home-inner-page img {
	display: block;
}

.home-inner-page-middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.home-inner-page:hover img {
	opacity: 0.3;
}

.home-inner-page:hover .home-inner-page-middle {
	opacity: 1;
}

.home-inner-page-text {
	background-color: #333332;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
	text-transform: uppercase;
}


	/*background: #DE3339;*/


.core-features-area {
	margin-top: 100px;
	margin-bottom: 100px;
	/*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);*/
}

.core-features-area h2 {
	font-family: "RobotoBold";
	font-size: 45px;
	letter-spacing: .5px;
	line-height: 53px;
	color: #282828;
	text-transform: uppercase;
	text-align: center;
}

.core-features-area p {
	font-family: "RobotoRegular";
	font-size: 25px;
	color: #282828;
	letter-spacing: -0.28px;
	text-align: center;
    margin-bottom: 50px;
}

.core-features {
    background: #FFFFFF;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.20);
    text-align: center;
    display: block;
}

.core-features img {
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.core-features h6 {
    font-family: "RobotoMedium";
    font-size: 16px;
    color: #2E2E2E;
    letter-spacing: -0.27px;
    text-align: center;
    padding-bottom: 15px;
    text-transform: uppercase;
	height: 40px;
}

.features-line-two {
	padding-top: 30px;
}

.handicraft-footer {
    padding: 50px 0px 100px 0px;
    text-align: center;
    background-color: #FFBE2F;
}

.handicraft-footer h4 {
    font-family: "RobotoMedium";
    font-size: 24px;
    color: #2E2E2E;
    letter-spacing: -0.27px;
    text-align: center;
    text-transform: uppercase;
	padding-bottom: 20px;
}

.purchase-now-button-area {
	margin-top: 50px;
	text-align: center;
}

.purchase-now-button {
	font-family: "RobotoBold";
	font-size: 30px;
	color: #FFFFFF;
	letter-spacing: 0.33px;
	line-height: 35px;
	text-transform: uppercase;
	padding: 15px 30px;
	background: #E74F00;
	display: inline-block;
	margin-top: 10px;
}

.purchase-now-button:hover {
	text-decoration: none;
	color: black;
}





	